@import url('modern-normalize.css');


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root{
    --linear-blue: linear-gradient(90deg, #E6E6FA, #B0E0E6);
    --translucent-white: rgba(255, 255, 255, 0.5);
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

/* header */

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 0.5fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

header {
    grid-area: header;
    background-color: aliceblue;
    box-shadow: 10px 0px 6px 0px #E6E6FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#search {
    height: 40px;
    width: max(200px, 40%);
    border-radius: 10px;
    border: none;
    margin-left: 2em;
    padding: 0px 0px 0px 40px;
    background-image: url(icons/search.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    box-shadow: 0px 2px 4px 0px #B0E0E6;
}

#search:focus {
    outline: 2px solid #B0E0E6;
}

.user-section {
    display: flex;
    align-items: center;
    padding-right: 2em;
    gap: 10px;
}


#notifications {
    height: 25px;
    width: 25px;
}

#username {
    display: flex;
    align-items: center;
    font-weight: 500;
}


/* sidebar */

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--linear-blue);
    box-shadow: 0px 12px 10px 2px #B0E0E6;
    z-index: 2;
}

#logo {
    padding: 2em;
    font-size: 1.5em;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--translucent-white);
    padding: 2em 2.5em;
    margin: 10px;
    border-radius: 20px;
}

.menu-item {
    position: relative;
    padding-left: 2.5em;
    transition-duration: 0.4s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -9px;
    width: 38px;
    height: 38px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
}

/* menu icons */

#home::before {
    content: url('icons/home.svg');
}

#categories::before {
    content: url('icons/categories.svg');
}

#my-library::before {
    content: url(icons/my-library.svg);
}

#new-releases::before {
    content: url(icons/new-releases.svg);
}

#download::before {
    content: url(icons/download.svg);
}

#favorites::before {
    content: url(icons/favorites.svg);
}

#settings::before {
    content: url(icons/settings.svg);
}

#support::before {
    content: url(icons/support.svg);
}

#logout::before {
    content: url(icons/logout.svg);
}


/* main */

.main {
    grid-area: main;
    background-color: white;
    display: grid;
    grid-template-columns: 3fr 300px;
}

.book-section {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.discover {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#discover-fantasy {
    grid-column: 1 / 2;
}

#discover-poetry {
    grid-column: 2 / 3;
}


.library {
    grid-row: 2 / 3;
}